<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width initial-scale=1.0"> 
		<link rel="icon" href="assets/icons/stack.png">
		<title>User Günter Zöchbauer- stackoverflow</title>
		<link rel="stylesheet" href="styles/styles.css">
		<script src="js/font.js"></script>

	</head>

	<body>
		<div class="header">
			<div class="logo">
				<img class="stack" src="assets/images/stackoverflow.svg" alt="logo">
			</div>
			<div class="products">
				Products
			</div>
			<div class="search">
				<form>
					<input class="input" type="text" name="search" placeholder="Search...">
				</form>
			</div>
			<div class="name">
				<span title="Assim S" class="letter">A</span>
				<span title="Your reputation:1" class="number">1</span>
			</div>
			<div title="You have unread inbox messages" class="inbox">
				<i class="fa-solid fa-inbox"></i>
			</div>
			<div class="trophy" title="Recent achievements: reputation, badges and previleges earned">
				<i class="fa-solid fa-trophy"></i>
			</div>

			<div class="help" title="Help center and other resources">
				<i class="fa-solid fa-circle-question"></i>
			</div>

			<div title="A list of all 179 Stack Exchange sites" class="communication">
				<i class="fa-solid fa-list-ul"></i>
			</div>

		</div>
		<div class="clear"></div>
		

		<div class="container">
			<div class="left-navbar">
				
				<div class="home">
					Home
				</div>
				<div class="public">
					PUBLIC
				</div>
				<div class="question">
					<i class="fa-solid fa-earth-americas"></i>
					Questions
				</div>
				<div class="tags">
					Tags
				</div>
				<div class="users">
					Users
				</div>
				<div class="collectives">
					COLLECTIVES
					<i class="fa-solid fa-circle-info"></i>
				</div>
				<div class="explore">
					<i class="fa-solid fa-sun"></i>
					Explore Collectives
				</div>
				<div class="find">
					FIND A JOB
				</div>
				<div class="jobs">
					Jobs
				</div>
				<div class="companies">
					Companies
				</div>
				<div class="teams">
					TEAMS
					<i class="fa-solid fa-circle-info"></i>
				</div>
				<div class="create">
					<i class="fa-solid fa-suitcase"></i>
					Create free Team
				</div>
						
	
			</div>

			<div class="main">
				<div class="profile">
					<div class="image">
						<img src="assets/images/profile.jpg" alt="Profile image" class="prof-pic">
						<button class="image-btn btn1">Profile</button>
						<button class="image-btn btn2">Activity</button>
					</div>

					<div class="profile-body">
						<div class="profile-name">Günter Zöchbauer</div>
						<div class="profile-education">BSc.</div>
						<div class="profile-details">
							<i class="fa-solid fa-cake-candles"></i>Member for 12 years, 4 months <i class="fa-regular fa-clock"></i>  Last 							seen this week
						</div>
						<div class="profile-location"> 
							<i class="fa-brands fa-twitter"></i>
							<i class="fa-brands fa-github"></i>
							<i class="fa-solid fa-location-dot"></i>
							Linz, Austria
						</div>
					</div>

					<div class="profile-button">
						<button class="profile-btn">Profiles<i class="fa-solid fa-caret-down"></i></button>
					</div>
					
				</div>
				<div class="clear"></div>

				

				<div class="main-content">
				
					<div class="main-content-left">
						
						<div class="stats">
							<div class="stats-heading">
								Stats
							</div>
							<div class="stats-chara">
								<div class="reputation">
									<div class="reputation-number">545,342</div>
									<div class="reputation-text">reputation</div>
								</div>
								<div class="reached">
									<div class="reached-number">74.8m</div>
									<div class="reached-text">reached</div>
								</div>
								<div class="reputation">
									<div class="reputation-number">9,317</div>
									<div class="reputation-text">answers</div>
								</div>
								<div class="reached">
									<div class="reached-number">93</div>
									<div class="reached-text">questions</div>
								</div>
								<div class="clear"></div>

								<div class="achievements">
									<div class="achievements-icon"><i class="fa-solid fa-trophy trophy2"></i></div>
									<div class="achievements-text">top 0.01% this quarter</div>
								</div>

							</div>
						</div>

						<div class="communities stats-heading">
							<div class="community">Communities</div>

							<div class="communities-contents">
								<div class="stackoverflow common"><i class="fa-brands fa-stack-overflow"></i>Stack Overflow</div>
								<div class= "superUser common"><i class="fa-solid fa-user"></i>Super User</div>
								<div class="comments common"><i class="fa-regular fa-message"></i>Meta Stack Exchange</div>
								<div class="area common"><i class="fa-regular fa-square"></i>Area 51</div>
								<div class="finance common"><i class="fa-solid fa-sack-dollar"></i>Personal Finance & Money</div>
							</div>
						</div>

						

						
					
					</div>


					<div class="main-middle">
						<div class="about stats-heading">
							About
						</div>
						<div class="google-prof">
							Google+ Profil: <span>https://twitter.com/gzoech</span>
							<ul>
								<li>
									I'm an enthusiastic and experienced
									<ul>
										<li>software engineer</li>
										<li>sortware architect</li>
										<li>developer</li>
										<li>consultant</li>
										<li>
											<strong class="strong">looking for clients/projects</strong>
											<ul>
											<li class="opacity">I focus on <strong class="strong ">custom line of business 											applications</strong> with Dart, Flutter, Angular (mobile, browser, server)</li>
											</ul>

										</li>

									</ul>

								</li>
								
								<li class="opacity2">			
									I have also a lot of experience with
									<ul>
										<li>TypeScript</li>
									</ul>
								</li>
								
							</ul>
							

						</div>
						<div class="read-more">
							<button class="read">Read more</button>
						</div>

						<div class="badges">

							<div class="badge-name stats-heading">
								Badges
							</div>
							<div class="gold-badge">
								<div class= "badge-icon">
									
								</div>
								<div class="badge-count">
									<div class="badge-number">
										185
									</div>
									<div class="badge-text">
										gold badges
									</div>
								</div>
								<div>
									<ul class="badge-list">
										
										<li><i class="fa-solid fa-circle"></i>angular2-routing</li>
										<li><i class="fa-solid fa-circle"></i>angular2-template</li>
										<li><i class="fa-solid fa-circle"></i>angular2-directives</li>
									</ul>
									
								</div>

								
							</div>

							<div class="gold-badge" id="silver-badge">
								<div class= "badge-icon silver">
									
								</div>
								<div class="badge-count">
									<div class="badge-number">
										1,878
									</div>
									<div class="badge-text">
										silver badges
									</div>
								</div>
								<div>
									<ul class="badge-list silver-list">
										<li><i class="fa-solid fa-circle"></i>dart-polymer</li>
										<li><i class="fa-solid fa-circle"></i>angular2-forms</li>
										<li><i class="fa-solid fa-circle"></i>angular-dart</li>
									</ul>
								</div>
							</div>

							<div class="gold-badge" id="bronze-badge">
								<div class= "badge-icon bronze">
									
								</div>
								<div class="badge-count">
									<div class="badge-number">
										1,48
									</div>
									<div class="badge-text">
										bronze badges
									</div>
								</div>
								<div>
									<ul class="badge-list bronze-list">
										<li><i class="fa-solid fa-circle"></i>angular2-components</li>
										<li><i class="fa-solid fa-circle"></i>angular2-pipe</li>
										<li><i class="fa-solid fa-circle"></i>dart-pub</li>
									</ul>
								</div>
							</div>
							

						</div>
						<div class="clear"></div>

						<div class="top-tags">
						
							<div class="tags2 stats-heading"> Top tags</div>
							<div class="view"> <span class="view-all">View all badges</span> </div>
							<div class="clear"></div>
							<div id="topTags">
								<div class="angular angular1">
									<span>
                         							<button >angular</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">58,916</span>
                        							<span class="post-title">Score</span> 
                        							<span class="post-count">5,576</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">59</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>

							<div class="topTags1">
								<div class="angular">
									<span>
                         							<button >dart</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">18,454</span>
                        							<span class="post-title">score</span> 
                        							<span class="post-count">3,312</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">35</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>

							<div id="topTags2">
								<div class="angular">
									<span>
                         							<button >typescript</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">13,220</span>
                        							<span class="post-title">score</span> 
                        							<span class="post-count">1,300</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">14</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>


							<div id="topTags3">
								<div class="angular">
									<span>
                         							<button >flutter</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">12,028</span>
                        							<span class="post-title">score</span> 
                        							<span class="post-count">907</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">10</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>


							<div id="topTags4">
								<div class="angular">
									<span>
                         							<button >javascript</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">8,635</span>
                        							<span class="post-title">score</span> 
                        							<span class="post-count">1,087</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">12</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>

							<div id="topTags5">
								<div class="angular angular2">
									<span>
                         							<button >angular-2 routing</button>
                        							 <i class="fa-solid fa-circle"></i>
                      							</span>
                     							 <span class="post">
                       								<span class="post-count">3,890</span>
                        							<span class="post-title">score</span> 
                        							<span class="post-count">426</span>
                       								 <span class="post-title">posts</span> 
                        							<span class="post-count">5</span>
                        							<span class="post-title">post%</span> 
                      							</span>
								</div>
							</div>
							<div class="clear"></div>



						</div>
						<div class="clear"></div>


						<div class="top-posts">
							<div class="post-main">
								<div class="tags2 stats-heading top-postheading"> Top posts</div>
								<div class="view-questions">
									<span class="color">View all</span>
									<span >questions</span>,
									<span>answers</span>,
									<span class="color">and</span>
									<span>articles</span>
									
								</div>
							</div>

							<div class="view-table">
								<table>
									<tr>
										<td>All</td>
										<td>Questions</td>
										<td>Answers</td>
										<td class="borderRadius">Articles</td>
										
									</tr>
								</table>

								<table class="table">
									<tr>
										<td>Score</td>
										<td class="borderRadius">Newest</td>
									</tr>
								</table>
							</div>
							<div class="clear"></div>

						</div>
						<div class="clear"></div>
						
						<div class="top-table">
							<tbody>
							<table class="post-table">
								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data button-data"><button id="button-data">1896</button></td>
									<td class="data data-text">What is the difference between Promises and Observables?</td>
									<td class="data data2">Mar 21,2016</td>
								</tr>
								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button class="button-data" id="button-data1">1163</button></td>
									<td class="data data-text">How can I select an element in a component template?</td>
									<td class="data data2">Feb 4,2016</td>
								</tr>
								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button id="button-data2" class="button-data">1145</button></td>
									<td class="data data-text">What is the equivalent of ngShow and ngHide in Angular 2+?</td>
									<td class="data data2">Mar 11,2016</td>
								</tr>

								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>883</button></td>
									<td class="data data-text">Binding select element to object in Angular</td>
									<td class="data data2">Mar 11,2016</td>
								</tr>
							
								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>824</button></td>
									<td class="data data-text">*ngIf and *ngFor on same element causing error</td>
									<td class="data data2">Sep 19,2016</td>
								</tr>

							
								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>725</button></td>
									<td class="data data-text">How to add conditional attribute in Angular 2?</td>
									<td class="data data2">Apr 20,2016</td>
								</tr>


								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>685</button></td>
									<td class="data data-text">Angular window resize event</td>
									<td class="data data2">Feb 20,2016</td>
								</tr>

								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>602</button></td>
									<td class="data data-text">What is the difference between declarations, providers, and import 										in NgModule?</td>
									<td class="data data2">Aug 21,2016</td>
								</tr>

								<tr class="table-row">
									<td class="data"><i class="fa-solid fa-message"></i></td>
									<td class="data"><button>572</button></td>
									<td class="data data-text">How can I write data attributes using Angular?</td>
									<td class="data data2">Dec 31,2015</td>
								</tr>

								<tr class="table-row">
									<td class="data no-border"><i class="fa-solid fa-message"></i></td>
									<td class="data no-border"><button>502</button></td>
									<td class="data data-text no-border">How to pass query parameters with a routerLink</td>
									<td class="data data2 no-border">Jun 17,2016</td>
								</tr>



							<tbody>
							</table>

						</div>
						
						<div class="clear"></div>

						<div class="topMetaPosts">
							<div class="topMeta stats-heading">
								Top Meta posts
								<span class="message-posts"><i class="fa-regular fa-message"></i><sub>7</sub>
 								<i class="fa-regular fa-message"></i><sub>0</sub></span>

							</div>
							<div class="clear"></div>

							<div>

								<table class="post-table">
									<tr class="table-row">
										<td class="data"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data"><button class="new-btn2">98</button></td>
										<td class="data data-text">Code snippets are a pest</td>
										
									</tr>

									<tr class="table-row">
										<td class="data"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data"><button class="new-btn">9</button></td>
										<td class="data data-text">Search always switches to "relevance" tab </td>
										
									</tr>

									<tr class="table-row">
										<td class="data"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data"><button class="new-btn">6</button></td>
										<td class="data data-text">Layout issue in tags filter field in new UI </td>
										
									</tr>

									<tr class="table-row">
										<td class="data new-btn"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data"><button class="new-btn">3</button></td>
										<td class="data data-text">What is the difference between Promises and Observables?											</td>
										
									</tr>


									<tr class="table-row">
										<td class="data no-border"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data no-border"><button class="new-btn">3</button></td>
										<td class="data data-text no-border">What is the difference between Promises and 											Observables?</td>
										
									</tr>
								</table>

							</div>

							<div class="clear"></div>

							<div class="topNetPost">


								<div class="topNet stats-heading">
									Top network posts
									<span class="message-posts">View all network posts</span>
								</div>
								<div class="clear"></div>

								<table class="post-table">
									<tr class="table-row">
										<td class="data"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data"><button class="new-btn2">56</button></td>
										<td class="data data-text">How to make a symlinked folder appear as a normal 										folder</td>
									</tr>

									<tr class="table-row">
										<td class="data no-border"><i class="fa-brands fa-stack-overflow"></i></td>
										<td class="data no-border"><button class="new-btn">5</button></td>
										<td class="data data-text no-border">How can I export transactions from GnuCash 										including references to associated files</td>
									</tr>
								</table>

							</div>

							

						</div>
		

					</div>


				</div>
			 </div>
		</div>
		<div class="clear"></div>
		   <footer>
			<div class="footer-logo">
				<i class="fa-brands fa-stack-overflow"></i>
      			</div>
      			<div class="link1">
        			 <ul>
            				<li class="footer-title"><b>STACK OVERFLOW</b></li>
            				<li>Questions</li>
            				<li>Jobs</li>
            				<li>Developer job directory</li>
            				<li>help</li>
        			 </ul>
      			</div>
      			<div class="link1">
         			<ul>
            				<li class="footer-title"><b>PRODUCTS</b></li>
            				<li>Teams</li>
            				<li>Talents</li>
            				<li>Advertising</li>
            				<li>enterprise</li>
         			</ul>
      			</div>
      			<div class="link1">
         			<ul>
           			 	<li class="footer-title"><b> COMPANY</b></li>
            				<li> About</li>
            				<li>Press</li>
            				<li> Work Here</li>
            				<li> Legal</li>  
            				<li>Privacy Policy</li>   
            				<li>Terms of Service</li>   
            				<li>Contact Us</li>
            				<li>Cookie Settings</li>
            				<li>Cookie Policy</li>
        			 </ul>
      			</div>
      			<div class="link1">
         			<ul>
            				<li class="footer-title"><b>STACK EXCHANGE NETWORK</b></li>
            				<li> Technology</li>
            				<li>Culture and recreation</li>
            				<li>lifes & arts</li>
            				<li> Science</li>  
            				<li>Professional</li>   
            				<li>Business</li>   
            				<li>API</li>
            				<li>Data</li>
         			</ul>
      			</div>
      			<div>
        			<div class="link2">
          				<ul>
            					<li>Blog</li>
            					<li>Facebook</li>
            					<li>twitter</li>
            					<li>LinkedIn</li>
            					<li>Instagram</li>
          				</ul>
       				</div>
       				<div class="footer-description">site design / logo © 2022 Stack Exchange Inc; user contributions<br>
          				licensed under cc by-sa. rev 2022.3.18.41718</div>
    				</div>
 		</footer>
	
	</body>
</html>

















