<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <link rel="icon" href="assets/icons/stack.png" />
    <title>User Günter Zöchbauer- stackoverflow</title>
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/responsive.css" />
    <script src="js/font.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img class="stack" src="assets/images/stackoverflow.svg" alt="logo" />
      </div>
      <div class="products">Products</div>
      <div class="search">
        <form>
          <input
            class="input"
            type="text"
            name="search"
            placeholder="Search..."
          />
        </form>
      </div>
      <div class="name">
        <span title="Assim S" class="letter">A</span>
        <span title="Your reputation:1" class="number">1</span>
      </div>
      <div title="You have unread inbox messages" class="inbox">
        <i class="fa-solid fa-inbox"></i>
      </div>
      <div
        class="trophy"
        title="Recent achievements: reputation, badges and previleges earned"
      >
        <i class="fa-solid fa-trophy"></i>
      </div>

      <div class="help" title="Help center and other resources">
        <i class="fa-solid fa-circle-question"></i>
      </div>

      <div title="A list of all 179 Stack Exchange sites" class="communication">
        <i class="fa-solid fa-list-ul"></i>
      </div>
      <div class="clear"></div>
    </div>

    <div class="container">
      <div class="left-navbar">
        <div class="home">Home</div>
        <div class="public">PUBLIC</div>
        <div class="question">
          <i class="fa-solid fa-earth-americas"></i>
          Questions
        </div>
        <div class="tags">Tags</div>
        <div class="users">Users</div>
        <div class="collectives">
          COLLECTIVES
          <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="explore">
          <i class="fa-solid fa-sun"></i>
          Explore Collectives
        </div>
        <div class="find">FIND A JOB</div>
        <div class="jobs">Jobs</div>
        <div class="companies">Companies</div>
        <div class="teams">
          TEAMS
          <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="create">
          <i class="fa-solid fa-suitcase"></i>
          Create free Team
        </div>
      </div>

      <div class="main">
        <div class="profile">
          <div class="image">
            <img
              src="assets/images/profile.jpg"
              alt="Profile image"
              class="prof-pic"
            />
          </div>

          <div class="profile-body">
            <div class="profile-name">Günter Zöchbauer</div>
            <div class="profile-education">BSc.</div>
            <div class="profile-details">
              <i class="fa-solid fa-cake-candles"></i>Member for 12 years, 4
              months <i class="fa-regular fa-clock"></i> Last seen this week
            </div>
            <div class="profile-location">
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-github"></i>
              <i class="fa-solid fa-location-dot"></i>
              Linz, Austria
            </div>
          </div>

          <div class="clear"></div>

          <div class="profile-button">
            <button class="profile-btn">
              Profiles<i class="fa-solid fa-caret-down"></i>
            </button>
          </div>
        </div>

        <div class="clear"></div>

        <div class="new-btn">
          <button class="image-btn btn1">Profile</button>
          <button class="image-btn btn2">Activity</button>
        </div>
        <div class="clear"></div>

        <div class="main-content">
          <div class="main-content-left">
            <div class="stats">
              <div class="stats-heading">Stats</div>
              <div class="stats-chara">
                <div class="reputation">
                  <div class="reputation-number">545,342</div>
                  <div class="reputation-text">reputation</div>
                </div>
                <div class="reached">
                  <div class="reached-number">74.8m</div>
                  <div class="reached-text">reached</div>
                </div>
                <div class="reputation">
                  <div class="reputation-number">9,317</div>
                  <div class="reputation-text">answers</div>
                </div>
                <div class="reached">
                  <div class="reached-number">93</div>
                  <div class="reached-text">questions</div>
                </div>
                <div class="clear"></div>

                <div class="achievements">
                  <div class="achievements-icon">
                    <i class="fa-solid fa-trophy trophy2"></i>
                  </div>
                  <div class="achievements-text">top 0.01% this quarter</div>
                </div>
              </div>
            </div>

            <div class="communities stats-heading">
              <div class="community">Communities</div>

              <div class="communities-contents">
                <div class="stackoverflow common">
                  <i class="fa-brands fa-stack-overflow"></i>Stack Overflow
                </div>
                <div class="superUser common">
                  <i class="fa-solid fa-user"></i>Super User
                </div>
                <div class="comments common">
                  <i class="fa-regular fa-message"></i>Meta Stack Exchange
                </div>
                <div class="area common">
                  <i class="fa-regular fa-square"></i>Area 51
                </div>
                <div class="finance common">
                  <i class="fa-solid fa-sack-dollar"></i>Personal Finance &
                  Money
                </div>
              </div>
            </div>
          </div>

          <div class="main-middle">
            <div class="about stats-heading">About</div>
            <div class="google-prof">
              Google+ Profil: <span>https://twitter.com/gzoech</span>
              <ul>
                <li>
                  I'm an enthusiastic and experienced
                  <ul>
                    <li>software engineer</li>
                    <li>sortware architect</li>
                    <li>developer</li>
                    <li>consultant</li>
                    <li>
                      <strong class="strong">
                        looking for clients/projects
                      </strong>
                      <ul>
                        <li class="opacity">
                          I focus on
                          <strong class="strong">
                            custom line of business applications
                          </strong>
                          with Dart, Flutter, Angular (mobile, browser, server)
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li class="opacity2">
                  I have also a lot of experience with
                  <ul>
                    <li>TypeScript</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="read-more">
              <button class="read">Read more</button>
            </div>

            <div class="badges">
              <div class="badge-name stats-heading">Badges</div>
              <div class="flex-item">
                <div class="gold-badge">
                  <div class="badge-count">
                    <div class="badge-icon"></div>
                    <div class="badge-number">185</div>
                    <div class="badge-text">gold badges</div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="badge-li">
                    <div class="badge-list">
                      <div>
                        <i class="fa-solid fa-circle"></i>angular2-routing
                      </div>
                      <div>
                        <i class="fa-solid fa-circle"></i>angular2-template
                      </div>
                      <div>
                        <i class="fa-solid fa-circle"></i>angular2-directives
                      </div>
                    </div>

                    <div class="badge-date">
                      <div class="badge-date1">Jun 7, 2017</div>
                      <div class="badge-date1">Jul 29, 2017</div>
                      <div class="badge-date1">May 13, 2019</div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>

                <div class="gold-badge" id="silver-badge">
                  <div class="badge-count">
                    <div class="badge-icon silver"></div>
                    <div class="badge-number">1,878</div>
                    <div class="badge-text">silver badges</div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="badge-li">
                    <div class="badge-list silver-list">
                      <div><i class="fa-solid fa-circle"></i>dart-polymer</div>
                      <div>
                        <i class="fa-solid fa-circle"></i>angular2-forms
                      </div>
                      <div><i class="fa-solid fa-circle"></i>angular-dart</div>
                    </div>

                    <div class="badge-date">
                      <div class="badge-date1">Oct 25, 2014</div>
                      <div class="badge-date1">Mar 31, 2017</div>
                      <div class="badge-date1">Jul 3, 2016</div>
                    </div>
                  </div>
                </div>

                <div class="gold-badge" id="bronze-badge">
                  <div class="badge-count">
                    <div class="badge-icon bronze"></div>
                    <div class="badge-number">1,48</div>
                    <div class="badge-text">bronze badges</div>
                    <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="badge-li">
                    <div class="badge-list bronze-list">
                      <div>
                        <i class="fa-solid fa-circle"></i>angular2-components
                      </div>
                      <div><i class="fa-solid fa-circle"></i>angular2-pipe</div>
                      <div><i class="fa-solid fa-circle"></i>dart-pub</div>
                    </div>
                    <div class="badge-date badge-date2">
                      <div class="badge-date1">Apr 21, 2017</div>
                      <div class="badge-date1">Sep 14, 2017</div>
                      <div class="badge-date1">Feb 22, 2015</div>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="top-tags">
              <div class="top-tags-heading stats-heading1">Top tags</div>
              <div class="view">View all tags</div>
              <div class="clear"></div>
            </div>

            <div class="top-tags-content">
              <div class="angular">
                <span class="posts">
                  <button>angular</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">58,916</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">5,576</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">59</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>

              <div class="angular angular1">
                <span class="posts">
                  <button>dart</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">18,454</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">3,312</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">35</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>

              <div class="angular angular1">
                <span class="posts">
                  <button>typescript</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">13,220</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">1,300</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">14</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>

              <div class="angular angular1">
                <span class="posts">
                  <button>flutter</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">12,028</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">907</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">10</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>

              <div class="angular angular1">
                <span class="posts">
                  <button>javascript</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">8,635</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">1,087</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">12</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>

              <div class="angular angular2">
                <span class="posts">
                  <button>angular2-routing</button>
                  <i class="fa-solid fa-circle"></i>
                </span>
                <span class="post">
                  <span class="post-count">3,890</span>
                  <span class="post-title">Score</span>
                  <span class="post-count">426</span>
                  <span class="post-title">posts</span>
                  <span class="post-count">5</span>
                  <span class="post-title">post%</span>
                </span>
                <div class="clear"></div>
              </div>
            </div>

            <div class="top-posts">
              <div class="posts-left">
                <div class="posts-heading stats-heading1">Top posts</div>
                <div class="posts-chara">
                  <span>View</span>
                  <span>all</span>
                  <span class="color">questions,</span>
                  <span class="color">answers,</span>
                  <span>and</span>
                  <span class="color">articles</span>
                </div>
              </div>
              <div class="post-right">
                <span class="post-nav2">
                  <span>Score</span>
                  <span class="border">Newest</span>
                </span>
                <span class="post-nav">
                  <span>All</span>
                  <span>Questions</span>
                  <span>Answers</span>
                  <span class="border">Articles</span>
                </span>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>

            <div class="post-table">
              <div class="post-main angular">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">1896</div>
                <div class="post-text">
                  What is the differences between Promises and Observables?
                </div>
                <div class="post-date"><span>Mar 21, 2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">1163</div>
                <div class="post-text">
                  How can I select an element in a component template?
                </div>
                <div class="post-date"><span>Apr 21, 2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">1145</div>
                <div class="post-text">
                  What is the equivalent of ngShow and ngHide in Angular 2+?
                </div>
                <div class="post-date"><span>Mar 11,2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">883</div>
                <div class="post-text">
                  Binding select element to object in Angular
                </div>
                <div class="post-date"><span>Sep 19,2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">824</div>
                <div class="post-text">
                  *ngIf and *ngFor on same element causing error
                </div>
                <div class="post-date"><span>Apr 20,2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">725</div>
                <div class="post-text">
                  How to add conditional attribute in Angular 2?
                </div>
                <div class="post-date"><span>Feb 20,2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">685</div>
                <div class="post-text">Angular window resize event</div>
                <div class="post-date"><span>Aug 21,2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">602</div>
                <div class="post-text">
                  What is the difference between declarations, providers, and
                  import in NgModule?
                </div>
                <div class="post-date"><span>Dec 31,2015</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">572</div>
                <div class="post-text">
                  How can I write data attributes using Angular?
                </div>
                <div class="post-date"><span>Mar 21, 2016</span></div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular2">
                <div class="post-msg"><i class="fa-solid fa-message"></i></div>
                <div class="post-number">502</div>
                <div class="post-text">
                  How to pass query parameters with a routerLink
                </div>
                <div class="post-date"><span>Jun 17,2016</span></div>
                <div class="clear"></div>
              </div>
            </div>

            <div class="topMetaPosts">
              <div class="topMeta stats-heading1">Top Meta posts</div>
              <span class="message-posts">
                <i class="fa-regular fa-message"></i><sub>7</sub>
                <i class="fa-regular fa-message"></i><sub>0</sub>
              </span>
              <div class="clear"></div>
            </div>

            <div class="post-table">
              <div class="post-main angular">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">98</div>
                <div class="post-text topMetaText">
                  Code snippets are a pest
                </div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">9</div>
                <div class="post-text topMetaText">
                  Search always switches to "relevance" tab
                </div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">6</div>
                <div class="post-text topMetaText">
                  What is the differences between Promises and Observables?
                </div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular1">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">3</div>
                <div class="post-text topMetaText">
                  Layout issue in tags filter field in new UI
                </div>
                <div class="clear"></div>
              </div>

              <div class="post-main angular angular2">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">3</div>
                <div class="post-text topMetaText">
                  What is the difference between Promises and Observables?
                </div>
                <div class="clear"></div>
              </div>
            </div>

            <div class="top-tags">
              <div class="top-tags-heading stats-heading1">
                Top Network posts
              </div>
              <div class="view">View all network posts</div>
              <div class="clear"></div>
            </div>

            <div class="post-table">
              <div class="post-main angular">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">56</div>
                <div class="post-text topMetaText">
                  How to make a symlinked folder appear as a normal folder
                </div>
                <div class="clear"></div>
              </div>
              <div class="post-main angular angular2">
                <div class="post-msg topMetaMsg">
                  <i class="fa-brands fa-stack-overflow"></i>
                </div>
                <div class="post-number topMetaNum">5</div>
                <div class="post-text topMetaText">
                  How can I export transactions from GnuCash including
                  references to associated files
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>

    <footer>
      <div class="footer-logo">
        <i class="fa-brands fa-stack-overflow"></i>
      </div>
      <div class="link1">
        <ul class="footer-items">
          <li class="footer-title"><strong>STACK OVERFLOW</strong></li>
          <li>Questions</li>
          <li>Jobs</li>
          <li>Developer job directory</li>
          <li>help</li>
        </ul>
      </div>
      <div class="link1">
        <ul class="footer-items">
          <li class="footer-title"><strong>PRODUCTS</strong></li>
          <li>Teams</li>
          <li>Talents</li>
          <li>Advertising</li>
          <li>enterprise</li>
        </ul>
      </div>
      <div class="link1">
        <ul class="footer-items">
          <li class="footer-title"><strong> COMPANY</strong></li>
          <li>About</li>
          <li>Press</li>
          <li>Work Here</li>
          <li>Legal</li>
          <li>Privacy Policy</li>
          <li>Terms of Service</li>
          <li>Contact Us</li>
          <li>Cookie Settings</li>
          <li>Cookie Policy</li>
        </ul>
      </div>
      <div class="link1">
        <ul class="footer-items">
          <li class="footer-title" id="footer-list">
            <strong>STACK EXCHANGE NETWORK</strong>
          </li>
          <li>Technology</li>
          <li>Culture and recreation</li>
          <li>lifes & arts</li>
          <li>Science</li>
          <li>Professional</li>
          <li>Business</li>
          <li>API</li>
          <li>Data</li>
        </ul>
      </div>
      <div>
        <div class="link2">
          <ul class="footer-items">
            <li>Blog</li>
            <li>Facebook</li>
            <li>twitter</li>
            <li>LinkedIn</li>
            <li>Instagram</li>
          </ul>
        </div>
        <br /><br />

        <div class="footer-description">
          site design / logo © 2022 Stack Exchange Inc; user contributions<br />
          licensed under cc by-sa. rev 2022.3.18.41718
        </div>
      </div>
    </footer>
  </body>
</html>
